{*layout '../@layout.latte'*}

{var $title = "Offers by client"}
{var $description = "Admin Simple CMS Offers by client"}
{var $keywords = "Admin, SimpleCMS, Offers by client"}
{var $robots = "NOINDEX,NOFOLLOW"}

{block content}	
<div class="container">
    <h2 class="text-center">Offers by client</h2>
</div>