{*layout '../@layout.latte'*}

{var $title = "Offers"}
{var $description = "Admin Simple CMS Offers"}
{var $keywords = "Admin, SimpleCMS, Offers"}
{var $robots = "NOINDEX,NOFOLLOW"}

{block content}	
<div class="container">
    <h2 class="text-center">Offers</h2>
</div>