{*layout '../@layout.latte'*}

{var $title = "Offer editing"}
{var $description = "Admin Simple CMS Offer editing"}
{var $keywords = "Admin, SimpleCMS, Offer editing"}
{var $robots = "NOINDEX,NOFOLLOW"}

{block content}
<div class="container">
    <h2 class="text-center">Offer editing</h2>
</div>