{*layout '../@layout.latte'*}

{var $title = "Image editing"}
{var $description = "Admin Simple CMS Offers Image editing"}
{var $keywords = "Admin, SimpleCMS, Offers Image editing"}
{var $robots = "NOINDEX,NOFOLLOW"}

{block content}
<div class="container">
    <h2 class="text-center">Image editing</h2>
</div>