{block flashNoBootstrap}
		<div n:ifcontent n:inner-foreach="$flashes as $flash" class="flash"  id="flash_message">
			<div class="bgcontent flash_child ">
				<p class="m2 p2 round {$flash->type}">{$flash->message}</p>
				<p id="for_button_close_insert">
					<noscript>
						<a n:href=':Admin:' class="button">Close</a>
					</noscript>
				</p>
			</div>
		</div>
{/block}