{*layout '../@layout.latte'*}

{var $title = "Client Grievance"}
{var $description = "Admin Simple CMS Client Grievance"}
{var $keywords = "Admin, SimpleCMS, Client Grievance"}
{var $robots = "NOINDEX,NOFOLLOW"}

{block content}
<div class="container">
    <h2 class="text-center">Client grievance</h2>
</div>