{*layout '../@layout.latte'*}

{var $title = "Grievance"}
{var $description = "Admin Simple CMS Grievance"}
{var $keywords = "Admin, SimpleCMS, Grievance"}
{var $robots = "NOINDEX,NOFOLLOW"}

{block content}
<div class="container">
    <h2 class="text-center">Resolved grievance</h2>
</div>