{*layout '../@layout.latte'*}

{var $title = "Offers Comments"}
{var $description = "Admin Simple CMS Offers Comments"}
{var $keywords = "Admin, SimpleCMS, Offers Comments"}
{var $robots = "NOINDEX,NOFOLLOW"}

{block content}	
<div class="container">
    <h2 class="text-center">Offers Comments</h2>
</div>