{*layout '../@layout.latte'*}

{var $title = "Comment editing"}
{var $description = "Admin Simple CMS Comment editing"}
{var $keywords = "Admin, SimpleCMS, Comment editing"}
{var $robots = "NOINDEX,NOFOLLOW"}

{block content}
<div class="container">
    <h2 class="text-center">Comment editing</h2>
    {control commentEditForm}
</div>