{var $title = 'Регистрация'}
{var $description = "User registration page"}
{var $keywords = "Регистрация, registration"}
{var $robots = "NOINDEX,NOFOLLOW"}

{block content}
<h2 class="center">Регистрация</h2>
<p class="center">Введите, сохраните для себя и отправьте ваши данные. 
<br>
На указанный адрес электронной почты будет отправлено сообщение о результате регистрации.
</p>
{control signUpForm}
