{*layout '../@layout.latte'*}

{var $title = "Offers Services"}
{var $description = "Admin Simple CMS Offers Services"}
{var $keywords = "Admin, SimpleCMS, Offers Services"}
{var $robots = "NOINDEX,NOFOLLOW"}

{block content}	
<div class="container">
    <h2 class="text-center">Offers Services</h2>
</div>