{*layout '@layout.latte'*}
{block footer}
<div class="">
	{*
	<a n:href=':Politic:' class="button pseudo">Политика обработки персональных данных&ensp;&#8250;</a>
	<br />
	*}
	<small id="mail">
		Почта:
		<a href="mailto:webmaster@jobaround.ru?subject=jobaround (to webmaster)">webmaster@jobaround.ru
		</a>
	</small>
	<br />
	{if date('Y') != '2024' }
	2024 - {date('Y') . PHP_EOL}
	{else}
	{date('Y') . PHP_EOL}
	{/if}
	<br />
	<small class="" id="mail">Copyright © I-Jurij</small>
</div>
{/block}