{*layout '../@layout.latte'*}

{var $title = "AC"}
{var $description = "AC"}
{var $keywords = "Keywords of main page"}
{var $robots = "INDEX,FOLLOW"}

{block content}
<div id="data_by_location">{$data}</div>
{/block}
