{*layout '../@layout.latte'*}

{var $title = "AC client"}
{var $description = "AC client"}
{var $keywords = "Keywords of client page"}
{var $robots = "NOINDEX,NOFOLLOW"}

{block content}
    {if (!empty($data) && is_array($data))}
        {include menu from $shared_templates.'menu_home.latte', $data}
    {else}
        Client main page
    {/if}
{/block}
