/* base */
html,
body {
    min-height: 100%;
}

body {
    max-width: 2540px;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
}

a,
h1,
.h1,
h2,
h3,
h4 {
    font-family: 'local', cursive;
    color: var(--fontcolor-light, white);
}

input[type="number"],
input[type="time"],
input[type="text"],
input[type="tel"],
input[type="email"],
input[type="password"],
textarea {
    /* display: inline-block; */
    margin: 0 auto 1rem auto;
}

.bgcontent {
    background-color: var(--bgcolor-content, rgb(44, 46, 43));
}

.bgcolor {
    background-color: var(--bgcolor, Green);
}

.shadow {
    box-shadow: var(--boxshadow);
}

.round {
    border-radius: var(--radius, 5px);
}

.spacer {
    flex: 1 0 auto;
}

.flash {
    position: fixed;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    background-color: var(--bgcolor, black);
    overflow: hidden;
    overflow-y: auto;
    -webkit-overflow-scrolling: touch;
    z-index: 333;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    pointer-events: all;
    -webkit-transition: opacity 500ms ease-in;
    -moz-transition: opacity 500ms ease-in;
    transition: opacity 500ms ease-in;
}

.flash_child {
    text-align: center;
    vertical-align: middle;
    /* border-radius: var(--radius);
    box-shadow: var(--boxshadow); */
    color: var(--button-color, white);
    text-shadow: none;
}

.flash_child .info {
    color: rgb(69, 125, 246);
}

.flash_child .success {
    color: rgb(55, 192, 101);
}

.flash_child .warning {
    color: rgb(255, 115, 0);
}

.flash_child .error {
    color: rgb(239, 36, 36);
}

ul.error,
span.error {
    margin: 1rem auto;
    padding: 0;
    background-color: var(--bgcolor-content, black);
    list-style: none;
    color: red;
}

.form {
    width: 100%;
    max-width: 24rem;
    margin: 1rem auto 0 auto;
    padding: 1rem;
    background-color: var(--bgcolor-content, black);
    border-radius: var(--radius, 5px);
    box-shadow: var(--boxshadow);
}

.main_title {
    font-size: var(--big-fontsize, 1.5rem);
}

.main_footer {
    margin: 2rem auto;
    text-align: center;
}

.netteFormsModal {
    background-color: var(--bgcolor-content, black);
    color: var(--fontcolor-light, white);
}

/* ----------- resolution up to 620px ----------------- */
/*
@media screen and (max-width: 620px) {
    body {
        font-size: var(--small-fontsize);
        line-height: normal;
    }

    a {
        font-size: var(--middle-fontsize);
    }
}
*/