@font-face {
    font-family: 'title';
    src:
        local('Arial'),
        local("Droid Sans"),
        local("Roboto"),
        local("Liberation Sans"),
        local(sans-serif),
        local(system-ui),
    ;
    font-weight: 800;
    font-style: normal;
}

:root {
    --biggest-fontsize: 2rem;
    --big-fontsize: 1.5rem;
    --base-fontsize: 1.125rem;
    --middle-fontsize: 1rem;
    --small-fontsize: 0.875rem;
    --smallest-fontsize: 0.75rem;
    --micro-fontsize: 0.625rem;
    --radius: 0.4rem;
    --bgcolor: #126c04;
    --bgcolor-content: #2a3428;
    --button-bgcolor: #126c04;
    --button-color: #d3e4bb;
    --button-active-bgcolor: #000000;
    --button-active-color: #9eb183;
    --button-disabled-color: black;
    --input_bgcolor: rgb(0, 0, 0);

    --fontcolor-light: #c0ccb9;
    --fontcolor-dark: #1CBADF;

    --fontshadow: 1px 1px 1px rgba(0, 0, 0, 0.9);
    --boxshadow: rgba(0, 0, 0, 0.6) 0px 2px 2px 0px, rgba(0, 0, 0, 0.6) 0px 3px 1px -2px, rgba(0, 0, 0, 0.6) 0px 1px 5px 0px;
    --boxshadow-active: rgba(0, 0, 0, 0.24) 1px 3px 3px 1px, rgba(0, 0, 0, 0.3) 1px 4px 2px -3px, rgba(0, 0, 0, 0.2) 1px 2px 6px 1px;

    --date_time_item_back: #535353;
    --date_time_item_back-active: #9F091F;
    --date_time_item_back-disabled: #353941;
    --date_time_item_color-disabled: #676767;

    --table-bgcolor1: #282C34;
    --table-bgcolor2: #161B23;

    --table-border: 1px solid #000;
}

/* base */
html,
body {
    min-height: 100%;
    background-color: var(--bgcolor-content, white);
}

body {
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    /* font-family: system-ui, sans-serif; */
    text-shadow: var(--fontshadow);
    max-width: 1920px;
    margin: 0 auto;
    color: var(--fontcolor-light, red);
    /* padding: 1rem;*/
    display: flex;
    flex-direction: column;
}

a,
h1,
.h1,
h2,
h3,
h4 {
    font-family: 'title', cursive;
    color: var(--fontcolor-light, red);
}

a {
    font-size: var(--base-fontsize);
}

h1,
.h1 {
    font-size: var(--biggest-fontsize);
}

.pseudo {
    box-shadow: 0 0 0;
}

button,
.button {
    background: var(--button-bgcolor);
    color: var(--button-color, white);
    box-shadow: var(--boxshadow);
    overflow: hidden;
}

button:hover,
.button:hover,
button:focus,
.button:focus,
button:active,
.button:active {
    background-color: var(--button-active-bgcolor);
    color: var(--button-active-color, white);
    box-shadow: var(--boxshadow);
}

button:disabled,
.button:disabled {
    background-color: var(--bgcolor-content);
    color: var(--button-disabled-color);
    box-shadow: var(--boxshadow);
}

input[type="number"],
input[type="time"],
input[type="text"],
input[type="tel"],
input[type="email"],
input[type="password"],
textarea {
    display: inline-block;
    margin: 1rem auto;
    background: var(--input_bgcolor);
    background-clip: padding-box;
    font-family: inherit;
    font-size: var(--base-fontsize);
    border: 1px solid #999;
    border-radius: var(--radius);
    width: 100%;
}

input[type="number"]:invalid,
input[type="time"]:invalid,
input[type="text"]:invalid,
input[type="tel"]:invalid,
input[type="email"]:invalid,
input[type="password"]:invalid,
textarea:invalid {
    border-bottom: 2px solid red;
}

input[type="number"]:valid,
input[type="time"]:valid,
input[type="text"]:valid,
input[type="tel"]:valid,
input[type="email"]:valid,
input[type="password"]:valid,
textarea:valid {
    border-bottom: 2px solid green;
}

.select {
    /* width: 100%; */
    border: 1px solid #353535;
    border-radius: var(--radius);
    font-size: var(--base-fontsize);
    font-family: inherit;
    color: inherit;
    background-color: var(--input_bgcolor);
    background-image: url('data:image/svg+xml;charset=US-ASCII,%3Csvg%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20width%3D%22292.4%22%20height%3D%22292.4%22%3E%3Cpath%20fill%3D%22%23007CB2%22%20d%3D%22M287%2069.4a17.6%2017.6%200%200%200-13-5.4H18.4c-5%200-9.3%201.8-12.9%205.4A17.6%2017.6%200%200%200%200%2082.2c0%205%201.8%209.3%205.4%2012.9l128%20127.9c3.6%203.6%207.8%205.4%2012.8%205.4s9.2-1.8%2012.8-5.4L287%2095c3.5-3.5%205.4-7.8%205.4-12.8%200-5-1.9-9.2-5.5-12.8z%22%2F%3E%3C%2Fsvg%3E'), linear-gradient(to bottom, #464747 0%, #000000 100%);
    background-repeat: no-repeat, repeat;
    background-position: right .7em top 50%, 0 0;
    background-size: .65em auto, 100%;
    /* background-image: none; */
}

.select:disabled {
    color: var(--date_time_item_color-disabled);
}

.select>option {
    font-size: var(--base-fontsize);
    font-family: inherit;
    color: inherit;
    background-color: var(--input_bgcolor);
    background-image: none;
    font-size: var(--base-fontsize);
    /*height: 50px;
    padding: 15px;*/
    border: 1px solid #999;
}

.bgcontent {
    background-color: var(--bgcolor-content);
}

.bgcolor {
    background-color: var(--bgcolor);
}

.shadow {
    box-shadow: var(--boxshadow);
}

.round {
    border-radius: var(--radius);
}

.spacer {
    flex: 1 0 auto;
}

.flash {
    position: fixed;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    background-color: var(--bgcolor);
    overflow: hidden;
    overflow-y: auto;
    -webkit-overflow-scrolling: touch;
    z-index: 333;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    pointer-events: all;
    -webkit-transition: opacity 500ms ease-in;
    -moz-transition: opacity 500ms ease-in;
    transition: opacity 500ms ease-in;
}

.flash_child {
    /*flex: 1 1 auto; 
    width: 90%;
    padding: 1rem;
    margin: 1rem auto; */
    text-align: center;
    vertical-align: middle;
    /* border-radius: var(--radius);
    box-shadow: var(--boxshadow); */
    color: var(--button-color);
    text-shadow: none;
}

.flash_child .info {
    background-color: rgb(46, 35, 205);
}

.flash_child .success {
    background-color: rgb(20, 121, 54);
}

.flash_child .warning {
    background-color: rgb(255, 115, 0);
}

.flash_child .error {
    background-color: rgb(181, 0, 0);
}

ul.error,
span.error {
    margin: 1rem auto;
    padding: 0;
    background-color: var(--bgcolor-content);
    list-style: none;
    color: red;
}

.form {
    width: 100%;
    max-width: 22rem;
    margin: 1rem auto 0 auto;
    padding: 1rem;
    background-color: var(--bgcolor-content);
    border-radius: var(--radius);
    box-shadow: var(--boxshadow);
}

.main_section {
    margin: 1rem;
    padding: 1rem;
    border-radius: var(--radius);
    background-color: var(--bgcolor);
    width: 100%;
}

.main_title {
    font-size: var(--big-fontsize);
}

.main_footer {
    margin: 2rem auto;
    text-align: center;
}

/* ----------- resolution up to 620px ----------------- */
@media screen and (max-width: 620px) {
    body {
        font-size: var(--small-fontsize);
        line-height: normal;
    }

    a {
        font-size: var(--middle-fontsize);
    }
}