/* base */
html,
body {
    min-height: 100%;
}

body {
    max-width: 2540px;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
}

a,
h1,
.h1,
h2,
h3,
h4 {
    font-family: 'local', cursive;
    color: var(--fontcolor-light, white);
}

input[type="number"],
input[type="time"],
input[type="text"],
input[type="tel"],
input[type="email"],
input[type="password"],
textarea {
    /* display: inline-block; */
    margin: 0 auto 1rem auto;
}

.info {
    background-color: rgb(0, 55, 174);
}

.bgcontent {
    background-color: var(--bgcolor-content, rgb(44, 46, 43));
}

.bgcolor {
    background-color: var(--bgcolor, Green);
}

.shadow {
    box-shadow: var(--boxshadow);
}

.round {
    border-radius: var(--radius, 5px);
}

.spacer {
    flex: 1 0 auto;
}

.flash {
    position: fixed;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    background-color: var(--bgcolor, black);
    overflow: hidden;
    overflow-y: auto;
    -webkit-overflow-scrolling: touch;
    z-index: 333;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    pointer-events: all;
    -webkit-transition: opacity 500ms ease-in;
    -moz-transition: opacity 500ms ease-in;
    transition: opacity 500ms ease-in;
}

.flash_child {
    text-align: center;
    vertical-align: middle;
    /* border-radius: var(--radius);
    box-shadow: var(--boxshadow); */
    color: var(--button-color, white);
    text-shadow: none;
}

.flash_child .info {
    background-color: unset;
    color: rgb(69, 125, 246);
}

.flash_child .success {
    color: rgb(55, 192, 101);
}

.flash_child .warning {
    color: rgb(255, 115, 0);
}

.flash_child .error {
    color: rgb(239, 36, 36);
}

ul.error,
span.error {
    margin: 1rem auto;
    padding: 0;
    background-color: var(--bgcolor-content, black);
    list-style: none;
    color: red;
}

.form {
    width: 100%;
    max-width: 24rem;
    /* margin: 1rem auto 0 auto; */
    padding: 1rem;
    background-color: var(--bgcolor-content, black);
    border-radius: var(--radius, 5px);
    box-shadow: var(--boxshadow);
}

.main_title {
    font-size: var(--big-fontsize, 1.5rem);
}

.main_footer {
    margin: 2rem auto;
    text-align: center;
}

.netteFormsModal {
    background-color: var(--bgcolor-content, black);
    color: var(--fontcolor-light, white);
}

.form_radio_group {
    display: inline-block;
    overflow: hidden;
}

.form_radio_group-item {
    float: left;
}

.form_radio_group input[type=radio] {
    display: none;
}

.form_radio_group label,
.form_radio_group select {
    display: inline-block;
    cursor: pointer;
    margin: 0.3em 0;
    padding: 0.3em 0.9em;
    vertical-align: baseline;
    /* line-height: 2rem; */
    height: auto;
    width: auto;
    border: 1px solid #004303;
    border-right: none;
    user-select: none;
    transition: all 0.3s;
}

.form_radio_group label,
.form_radio_group>button {
    background-image: linear-gradient(to bottom, #333b33 0%, #030702 100%);
}

.form_radio_group>input[type="submit"].grred {
    background-image: linear-gradient(to bottom, #8f3900 0%, #530000 100%);
}

.form_radio_group .form_radio_group-item:first-child label {
    border-radius: 6px 0 0 6px;
}

.form_radio_group .form_radio_group-item:last-child label {
    border-radius: 0 6px 6px 0;
    border-right: 1px solid #004303;
}

/* Checked */
/* Hover */
.form_radio_group input[type=radio]:checked+label,
.form_radio_group>input[type="submit"].active,
.form_radio_group>button.active {
    background-image: linear-gradient(to top, #2a4d2a 0%, #072200 100%);
    box-shadow: 0px 0px 1px 0px rgb(255, 255, 255) inset;

}

.form_radio_group label:hover,
.form_radio_group>input[type="submit"]:hover,
.form_radio_group>button:hover {
    -webkit-box-shadow: 0px 0px 1px 50px rgba(9, 166, 1, 0.25) inset;
    -moz-box-shadow: 0px 0px 1px 50px rgba(9, 166, 1, 0.25) inset;
    box-shadow: 0px 0px 1px 50px rgba(9, 166, 1, 0.25) inset;
}

/* Disabled */
.form_radio_group input[type=radio]:disabled+label {
    background: #005301;
    color: #0d5800;
}

.dropdown_div {
    position: relative;
}

#profile_input {
    display: none;
}

#profile_input+.dropdown_menu {
    position: absolute;
    left: 0;
    z-index: 1;
    width: auto;
    padding: 0;
    opacity: 0;
    visibility: hidden;
    background: transparent;
    overflow: hidden;
    transform-origin: 50% 0%;
}

#profile_input:checked+.dropdown_menu {
    background-color: var(--bgcolor-content, rgb(44, 46, 43));
    opacity: 1;
    visibility: visible;
    animation-name: swingdown;
    animation-duration: 100ms;
    animation-timing-function: ease;
}

@keyframes swingdown {
    0% {
        opacity: .99999;
        transform: rotateX(90deg);
    }

    30% {
        transform: rotateX(-20deg) rotateY(5deg);
        animation-timing-function: ease-in-out;
    }

    65% {
        transform: rotateX(20deg) rotateY(-3deg);
        animation-timing-function: ease-in-out;
    }

    100% {
        transform: rotateX(0);
        animation-timing-function: ease-in-out;
    }
}

.dropdown_menu a {
    display: block;
    padding: 0.5rem 1rem;
    margin: 0.5rem 0;
}

.dropdown_menu a:hover {
    color: rgb(20, 180, 25);
}

/* ----------- resolution up to 620px ----------------- */

@media screen and (max-width: 620px) {
    body {
        font-size: var(--small-fontsize);
        line-height: normal;
    }

    a {
        font-size: var(--middle-fontsize);
    }
}