{*layout '../@layout.latte'*}

{var $title = "Customers"}
{var $description = "Admin Simple CMS Customers"}
{var $keywords = "Admin, SimpleCMS, Customers"}
{var $robots = "NOINDEX,NOFOLLOW"}

{block content}	
<div class="container">
    <h2 class="text-center">Customers</h2>
</div>