security:
    authentication:
        cookieName: clientId 
        cookieDomain: 'acnette.local'   # (string|domain)
        cookieSamesite: Lax          # (Strict|Lax|None) defaults to Lax

constants:
    TABLE: 'client'