extensions:
    captcha: NFCaptcha\DI\CaptchaExtension
    
captcha:
    autoload: yes
    type: image # question | numeric | image
    bgcolor: '255, 255, 255, 50' # Only for type = image 
    questions: # only for type question
        "Question 1?": "1"
        "Question 2?": "2"