extensions:
    captcha: NFCaptcha\DI\CaptchaExtension
    
captcha:
    autoload: yes
    type: image # question # or numeric | image
    questions:
        "Question 1?": "1"
        "Question 2?": "2"