services:
	- App\Core\RouterFactory::createRouter
	- App\Core\Authenticator(@database.mysql.explorer)
	- App\Core\MyAuthorizator(@database.mysql.connection)
	- 
		create: App\Model\UserFacade(@database.mysql.explorer)
		autowired: self
	- 
		create: App\Model\ClientFacade(@database.mysql.explorer)
		autowired: self
	# - App\Model\PageFacade(@database.sqlite.connection)

search:
	-	in: %appDir%
		classes:
			- *Factory
			- *Facade
