session:
	expiration: 14 days
	autoStart: always       # (smart|always|never) по умолчанию 'smart'
    # домены, которые принимают cookie
	cookieDomain: 'acnette.local'   # (string|domain)

	# ограничение при доступе с другого домена
	cookieSamesite: Lax          # (Strict|Lax|None) по умолчанию Lax