{*layout '../@layout.latte'*}

{var $title = "CMS"}
{var $description = "Admin Simple CMS"}
{var $keywords = "Admin, SimpleCMS, CMS"}
{var $robots = "NOINDEX,NOFOLLOW"}

{block content}	
<div class="container">
<h2 class="text-center">CMS</h2>
<div n:ifset="$currentPageMenu">
  <div class="text-center">
    <div class="btn-group" role="group" aria-label="CMS button group">
      {include menu from $shared_templates.'menu.latte', $currentPageMenu}
    </div>
  </div>
</div>
</div>
