{*layout '../@layout.latte'*}

{var $title = "Executors"}
{var $description = "Admin Simple CMS Executors"}
{var $keywords = "Admin, SimpleCMS, Executors"}
{var $robots = "NOINDEX,NOFOLLOW"}

{block content}	
<div class="container">
    <h2 class="text-center">Executors</h2>
</div>
