{*layout '../@layout.latte'*}

{var $title = "AC client profile"}
{var $description = "AC client profile"}
{var $keywords = "Keywords of client profile page"}
{var $robots = "NOINDEX,NOFOLLOW"}

{block content}
<p>{$data}</p>
{/block}
