{*layout '../@layout.latte'*}

{var $title = "Adding service to category"}
{var $description = "Admin Adding service to category"}
{var $keywords = "Admin, Adding, service, category"}
{var $robots = "NOINDEX,NOFOLLOW"}

{block content}
<h2 class="text-center">{$title}</h2>

{control serviceAddForm}