{var $title = 'Восстановление доступа'}
{var $description = "Восстановление доступа"}
{var $keywords = "Восстановление, доступ, пароль"}
{var $robots = "NOINDEX,NOFOLLOW"}

{block content}
<div class="mb2">
    Восстановление доступа
</div>