{*layout '../@layout.latte'*}

{var $title = "AC client offer adding"}
{var $description = "AC client offer adding"}
{var $keywords = "Keywords of clients offer adding page"}
{var $robots = "NOINDEX,NOFOLLOW"}

{block content}
<div class="bgcontent rounded p2 mb2 center">
    <span>&#9432; Объявление размещается на один месяц.</span>
</div>
{include offer_add_edit_form from $shared_templates.'offer_add_edit_form.latte'}