{*layout '../@layout.latte'*}

{var $title = "AC client offer adding"}
{var $description = "AC client offer adding"}
{var $keywords = "Keywords of clients offer adding page"}
{var $robots = "NOINDEX,NOFOLLOW"}

{block content}
<p>ADD offer</p>
{/block}