{*layout '../@layout.latte'*}

{var $title = "AC client offer"}
{var $description = "AC client offer"}
{var $keywords = "Keywords of clients offer page"}
{var $robots = "NOINDEX,NOFOLLOW"}

{block content}
<p>{$data}</p>
{/block}