{*layout '../@layout.latte'*}

{var $title = "AC client offer editштп"}
{var $description = "AC client offer editштп"}
{var $keywords = "Keywords of client offer editштп page"}
{var $robots = "NOINDEX,NOFOLLOW"}

{block content}
{control offerForm}