{*layout '../@layout.latte'*}

{var $title = "AC client offer edit"}
{var $description = "AC client offer edit"}
{var $keywords = "Keywords of client offer edit page"}
{var $robots = "NOINDEX,NOFOLLOW"}

{block content}
{* control offerForm *}
{include offer_add_edit_form from $shared_templates.'offer_add_edit_form.latte'}