{*layout '../@layout.latte'*}

{var $title = "Offers Works"}
{var $description = "Admin Simple CMS Offers Works"}
{var $keywords = "Admin, SimpleCMS, Offers Works"}
{var $robots = "NOINDEX,NOFOLLOW"}

{block content}	
<div class="container">
    <h2 class="text-center">Offers Works</h2>
</div>