{*layout '../@layout.latte'*}

{var $title = "Orders"}
{var $description = "Admin Simple CMS Orders"}
{var $keywords = "Admin, SimpleCMS, Orders"}
{var $robots = "NOINDEX,NOFOLLOW"}

{block content}	
<div class="container">
    <h2 class="text-center">Orders</h2>
</div>